; файл ansible.cfg (ищется в порядке: ENV ANSIBLE_CONFIG, текущая директория, ~/.ansible.cfg, /etc/ansible/ansible.cfg).

[defaults]
roles_path = ./roles/ ; Папка с ролями
inventory = ./inventory/ ; Путь к inventory-файлам
log_path = ./logs/ansible.log ; логи
vault_password_file = ./secrets/!vault_pass.txt ; Пароль к Ansible Vault
;become = yes
;retry_files_enabled = False ; Отключаем retry-файлы в случае неудачного выполнения таска
;private_key_file = /mnt/usb/ssh_keys/id_bes-dev.ru ; Можно указать нестандартную директорию с ssh ключами

[ssh_connection]
; `ControlMaster=auto` - включает механизм SSH multiplexing, который позволяет нескольким SSH-сессиям использовать одно и то же TCP-соединение к удалённому хосту.
; `ControlPersist=300s` - Указывает, как долго SSH control socket остаётся открытым после того, как последняя SSH-сессия завершилась.
ssh_args = -o ControlMaster=auto -o ControlPersist=300s -o ConnectTimeout=30
ask_pass = False ; Пароль берётся из inventory, а не запрашивается
