{% for site in nginx_sites %}
server {
    listen 80;
    charset utf-8;
    client_max_body_size {{ site.client_max_body_size }};
    sendfile off;
    server_tokens off;

    server_name {{ site.server_name }};
    root        {{ site.web_root }};
{% if site.php_fpm %}
    index       index.php;
{% else %}
    index       index.html;
{% endif %}

    add_header X-Frame-Options "SAMEORIGIN";
    add_header X-Content-Type-Options "nosniff";

    location ~ /\.(ht|svn|git|env|json|lock|yml) {
        deny all;
    }

    location ~* \.(jpg|jpeg|png|gif|ico|css|js|woff|woff2|ttf|svg|eot|otf|ttc)$ {
        expires 1y;
        access_log off;
        add_header Cache-Control "public";
    }

{% if site.php_fpm %}
    location / {
        try_files $uri $uri/ /index.php$is_args$args;
    }

    location ~ \.php$ {
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        fastcgi_pass unix:/run/php/php{{ php_version }}-fpm.sock;
        fastcgi_index index.php;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param PATH_INFO $fastcgi_path_info;
        try_files $uri =404;
        fastcgi_read_timeout 60s;
        fastcgi_connect_timeout 60s;
        fastcgi_send_timeout 60s;
    }
{% else %}
    location / {
        try_files $uri $uri/ =404;
    }
{% endif %}
}

{% endfor %}
