# Выделяет 64 МБ для кэша (подходит для сервера с 2 ГБ RAM)
-m 64
# Максимальное количество одновременных соединений
-c 1024
# Слушать только localhost для безопасности
-l 127.0.0.1
# Средний уровень подробности, базовая информация о работе сервера, например, уведомления о запуске, остановке и некоторых операциях (подключения клиентов, ошибки).
-v
# Включить работу в фоновом режиме
-d
