#include <tunables/global>

/usr/sbin/nginx {
  #include <abstractions/base>
  #include <abstractions/nameservice>

  capability net_bind_service,
  capability dac_override,
  capability setgid,
  capability setuid,

  /etc/nginx/** r,
  /var/www/** r,
  /var/log/nginx/** rw,
  /run/nginx.pid rw,
  /usr/sbin/nginx ix,
}
