#include <tunables/global>

/usr/sbin/php-fpm{{ php_version }} {
  #include <abstractions/base>
  #include <abstractions/php>

  capability dac_override,
  capability sys_resource,

  /etc/php/{{ php_version }}/fpm/** r,
  /var/www/** rwk,  # Доступ к веб-файлам
  /run/php/php{{ php_version }}-fpm.sock rw,
  /usr/sbin/php-fpm{{ php_version }} ix,
  /var/log/php{{ php_version }}-fpm.log rw,
}
