#include <tunables/global>

/usr/bin/redis-server {
  #include <abstractions/base>

  capability net_bind_service,
  capability dac_override,

  /etc/redis/redis.conf r,
  /etc/redis/redis.conf.d/ r,
  /etc/redis/redis.conf.d/** r,
  /var/lib/redis/** rwk,
  /var/log/redis/** rw,
  /run/redis/redis.sock rw,
  /usr/bin/redis-server ix,
}
