---
# NOTE: Если не закомментировать после шифрования, то пароли отсюда подтягиваются вместо "secrets.vault"
# Пароль root а удалённом сервере до того как перешли на использование SSH ключей.
#vault_ansible_password: ""
# Парольная фраза для SSH ключа
#vault_ssh_key_passphrase: ""
# Пароль к базе данных
#vault_mysql_db_user_password: ""
# Пароль root к базе данных
#vault_mysql_root_password:  ""
