---
# NOTE: Если не закомментировать после шифрования, то пароли отсюда подтягиваются вместо "secrets.vault"
# Если этот файл лежит в secrets, а secrets.vault лежит в group_vars, то, может, эта проблема решилась?

# Пароль root на удалённом сервере до того как перешли на использование SSH ключей.
vault_root_password: "сгенерированный_длинный_пароль"
# Парольная фраза для SSH ключа
vault_ssh_key_passphrase: "сгенерированный_длинный_пароль"
# Пароль к базе данных
vault_mysql_db_user_password: "сгенерированный_длинный_пароль"
# Пароль root к базе данных
vault_mysql_root_password:  "сгенерированный_длинный_пароль"
# Пароль к redis-server
vault_redis_password: "сгенерированный_длинный_пароль"
